.DS_Store
old*
LID*
dev/
zirconHfO/datasets/*/*.pdf
zirconHfO/datasets/*/*.xls
zirconHfO/datasets/*/*.xlsx
zirconHfO/datasets/*/*/*.pdf
zirconHfO/datasets/*/*/*.xls
zirconHfO/datasets/*/*/*.xlsx
zirconHfO/datasets/*/*/*.out
mczircon.mat
GreatUnconformityPNAS/
GreatUnconformity.tex/
*.ai
*.ods
.~lock*
